<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon.png">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <script src="../js/vue.min.js"></script>
</head>

<body>
    <noscript>Etopa uses <strong>WebAssembly (Rust)</strong> and <strong>JavaScript</strong>
        to provide encryption safely, please consider enabling these in your browser.</noscript>
    <script type="module" src="./index.js"></script>
    <div id="vue" class="card container">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="./"> <img src="../favicon.png" width="22" height="22"
                    class="d-inline-block align-top"> Etopa</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="./account.html" id="user_btn" hidden>{{ lang.account }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#" id="logout">{{ lang.logout }} ({{ username }})</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="lang_btn">{{ lang.language }}</a>
                        <div class="dropdown-menu" id="lang_menu">
                            <a class="dropdown-item change-lang" href="#" lang="en">English</a>
                            <a class="dropdown-item change-lang" href="#" lang="de">Deutsch</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <div id="loading" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="totp" hidden>
                <form id="disable_offline" autocomplete="off" hidden>
                    <div class="d-flex justify-content-center row">
                        <div class="col-12 col-lg-4 text-center">
                            <input id="username" type="text" autocomplete="off" class="form-control"
                                v-bind:placeholder="lang.username">
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <input id="password" type="password" autocomplete="off" class="form-control"
                                v-bind:placeholder="lang.password">
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <button type="submit" class="btn btn-small btn-warning"
                                id="offline_mode">{{ lang.disable_offline_mode }}</button>
                        </div>
                    </div>
                </form>
                <br>
                <div class="progress time-left-progress">
                    <div id="time_left" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
                        aria-valuemax="30">
                    </div>
                </div><br>
                <div id="tokens" class="list-group"></div><br>
                <form id="add_form" autocomplete="off" hidden>
                    <div class="row">
                        <div class="col-12 col-lg-4 text-center">
                            <input id="name" type="text" autocomplete="off" class="form-control"
                                v-bind:placeholder="lang.name">
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <input id="secret" type="text" autocomplete="off" class="form-control"
                                v-bind:placeholder="lang.secret">
                        </div>
                        <div class="col-12 col-lg-4 text-center">
                            <button type="submit" class="btn btn-primary" id="add">{{ lang.add_secret }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <form id="decryption" autocomplete="off" hidden>
            <div class="row">
                <div class="col-12 col-lg-8 text-center">
                    <input id="key" type="password" autocomplete="off" class="form-control"
                        v-bind:placeholder="lang.key">
                </div>
                <div class="col-12 col-lg-4 text-center">
                    <button type="submit" id="decrypt" class="btn btn-primary">{{ lang.decrypt }}</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" hidden>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close modal-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modal_btn_close"></button>
                    <button type="button" class="btn btn-primary" id="modal_btn"></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
