<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <script src="./js/vue.min.js"></script>
</head>

<body>
    <noscript>Etopa uses <strong>WebAssembly (Rust)</strong> and <strong>JavaScript</strong>
        to provide encryption safely, please consider enabling these in your browser.</noscript>
    <script type="module" src="./index.js"></script>
    <div id="vue" class="card container">
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="./"> <img src="./favicon.png" width="22" height="22"
                    class="d-inline-block align-top"> Etopa</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="./app/help.html">{{ lang.help }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="lang_btn">{{ lang.language }}</a>
                        <div class="dropdown-menu" id="lang_menu">
                            <a class="dropdown-item change-lang" href="#" lang="en">English</a>
                            <a class="dropdown-item change-lang" href="#" lang="de">Deutsch</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <form id="login" class="card-body" autocomplete="off">
            <div class="form-group row justify-content-md-center">
                <label for="username" class="col-12 col-lg-2 col-form-label">{{ lang.username }}</label>
                <div class="col-12 col-lg-10">
                    <input type="text" autocomplete="off" class="form-control" id="username"
                        v-bind:placeholder="lang.username">
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <label for="password" class="col-12 col-lg-2 col-form-label">{{ lang.password }}</label>
                <div class="col-12 col-lg-10">
                    <input type="password" autocomplete="off" class="form-control" id="password"
                        v-bind:placeholder="lang.password">
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <label for="key" class="col-12 col-lg-2 col-form-label">{{ lang.key }}</label>
                <div class="col-12 col-lg-10">
                    <input type="password" autocomplete="off" class="form-control" id="key"
                        v-bind:placeholder="lang.key">
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary"
                        id="login_btn">{{ lang.login }}</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-outline-info" id="register">{{ lang.register }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal" tabindex="-1" role="dialog" hidden>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close modal-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modal_btn_close"></button>
                    <button type="button" class="btn btn-primary" id="modal_btn"></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
